{% extends "base.html" %}

{% block content %}

<br>
<div class="container">
    <h5>Here are Latest <b>{{genre}}</b> films:</h5>
    <br>
    {% for i in range(10) %}
    <div class="container row">
        <div class="col-4 col-md-2">
            <a href="/movie/{{ top_movies[i].id }}">
                <img class="clickable" style="width:100%" src={{ top_movies[i].poster_path }}>
            </a>
        </div>
        <div class="col-8 col-md-10">
            <a href="/movie/{{ top_movies[i].id }}" style="color:black;">
                <h2>{{ top_movies[i].title }}</h2>
            </a>
            <p>{{ top_movies[i].overview }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}