{% extends "base.html" %}

{% block content %}

<br>
<div class="container">
  <h5>Here are today's popular films:</h5>
  <br>
  {% for mov in top_movies %}
  <div class="container row">
    <div class="col-4 col-md-2">
      <a href="/movie/{{ mov.id }}">
        <img class="clickable" style="width:100%" src={{ mov.poster_path }}>
      </a>
    </div>
    <div class="col-8 col-md-10">
      <a href="/movie/{{ mov.id }}" style="color:black;">
        <h2>{{ mov.title }}</h2>
      </a>
      <p>{{ mov.overview }}</p>
    </div>
  </div>
  <hr>
  {% endfor %}
</div>
{% endblock %}